In [5]:
import pandas as pd

df = pd.read_csv("Downloaded datasets/HDB_with_coordinates.csv")

In [6]:
print(df.head(10)) #display 10 rows

     month        town flat_type block        street_name storey_range  \
0  2017-01  ANG MO KIO    2 ROOM   406  ANG MO KIO AVE 10     10 TO 12
1  2017-01  ANG MO KIO    3 ROOM   108   ANG MO KIO AVE 4     01 TO 03
2  2017-01  ANG MO KIO    3 ROOM   602   ANG MO KIO AVE 5     01 TO 03
3  2017-01  ANG MO KIO    3 ROOM   465  ANG MO KIO AVE 10     04 TO 06
4  2017-01  ANG MO KIO    3 ROOM   601   ANG MO KIO AVE 5     01 TO 03
5  2017-01  ANG MO KIO    3 ROOM   150   ANG MO KIO AVE 5     01 TO 03
6  2017-01  ANG MO KIO    3 ROOM   447  ANG MO KIO AVE 10     04 TO 06
7  2017-01  ANG MO KIO    3 ROOM   218   ANG MO KIO AVE 1     04 TO 06
8  2017-01  ANG MO KIO    3 ROOM   447  ANG MO KIO AVE 10     04 TO 06
9  2017-01  ANG MO KIO    3 ROOM   571   ANG MO KIO AVE 3     01 TO 03

   floor_area_sqm      flat_model  lease_commence_date     remaining_lease  \
0            44.0        Improved                 1979  61 years 04 months
1            67.0  New Generation                 1978  60 years 07 months
2            67.0  New Generation                 1980  62 years 05 months
3            68.0  New Generation                 1980   62 years 01 month
4            67.0  New Generation                 1980  62 years 05 months
5            68.0  New Generation                 1981            63 years
6            68.0  New Generation                 1979  61 years 06 months
7            67.0  New Generation                 1976  58 years 04 months
8            68.0  New Generation                 1979  61 years 06 months
9            67.0  New Generation                 1979  61 years 04 months

   resale_price
0      232000.0
1      250000.0
2      262000.0
3      265000.0
4      265000.0
5      275000.0
6      280000.0
7      285000.0
8      285000.0
9      285000.0

In [7]:
print(df.info()) #info about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218770 entries, 0 to 218769
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                218770 non-null  object
 1   town                 218770 non-null  object
 2   flat_type            218770 non-null  object
 3   block                218770 non-null  object
 4   street_name          218770 non-null  object
 5   storey_range         218770 non-null  object
 6   floor_area_sqm       218770 non-null  float64
 7   flat_model           218770 non-null  object
 8   lease_commence_date  218770 non-null  int64
 9   remaining_lease      218770 non-null  object
 10  resale_price         218770 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 18.4+ MB
None